---
---
@import 'variables';
@import 'colours';
@import 'fonts';

@import 'bootstrap';

@import 'footer';
@import 'nav';
//@import 'github-corner';

body {
  background-color: $brand-complement;
  color: $brand-primary;
  font-family: $font-primary;
  word-spacing: 1ex;
  text-shadow: 0 0 8px black;
}

h1 {
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin: auto;
  margin-top: 50px;
  font-size: 3em;
}
